div > ul:first-of-type {
  border-radius: 10px;
  border: 1px solid red;
}
ul,
li {
  padding: 5px;
}
ul {
  list-style-type: none;
}
ul li:not(ul) {
  //   background-color: red;
  color: black;
}

.menu-active{
  color:orangered;
  font-weight: bold;
}