<div>
  <ul>
    <ng-template #recursiveList let-list>
      <li *ngFor="let item of list">
        <div
          class="last-item"
          [class.menu-active]="item.styleClass === 'menu-active'"
          (click)="redirectUrl(item?.routerLink)"
        >
          {{ item?.label }}
        </div>
        <ul
          *ngIf="item?.items?.length > 0 && item.styleClass === 'menu-active'"
        >
          <ng-container
            *ngTemplateOutlet="
              recursiveList;
              context: { $implicit: item?.items }
            "
          ></ng-container>
        </ul>
      </li>
    </ng-template>
    <ng-container
      *ngTemplateOutlet="recursiveList; context: { $implicit: menuItems }"
    ></ng-container>
  </ul>
</div>
