<p>navbar works! (router breadcrumb)</p>

<div class="background-navbar">
  @for (item of (breadcrumbData | breadcrumbPipeTs);track item.label; let idx =
  $index;let last = $last ) {
  <a [routerLink]="[item.link]">
    {{ item?.label }}
  </a>

  @if (!last) {
  <div>/</div>
  } }
</div>
