.background-page {
  max-width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  .background-sidebar {
    width: 300px;
    min-width: max-content;
    height: inherit;
    overflow: auto;
    border:1px solid red;
  }
  .background-content {
    flex:1;
    border: 1px solid black;
    display: flex;
    padding: 20px;
    flex-direction: column;
    app-main-page {
      flex-grow: 1;
    }
    button{
      padding: 20px;
      margin: 20px;
      &:first-of-type{
        margin-left: 0;
      }
    }
  }
}
