<div class="background-page">
  <div class="background-sidebar">
    <app-sidebar></app-sidebar>
  </div>
  <div class="background-content">
    <app-navbar [breadcrumbData]="routerList.value"> </app-navbar>
    <app-main-page> </app-main-page>
  </div>
</div>
